# Pocketbase
PUBLIC_POCKETBASE_URL = <pocketbase-public-url>

# Cloudflare R2
R2_ENDPOINT = <r2-api-url>
R2_ACCESS_KEY = <r2-cloud-access-key>
R2_SECRET_KEY = <r2-cloud-secret-key>
PUBLIC_R2_BUCKET_NAME = riju-user-assets

# Pexels
PEXELS_API_KEY = <pexels-key>
